# Retrieve Data

In [27]:
import pm4py
import pandas as pd
from IPython.display import JSON
from datetime import datetime, timedelta
import itertools as it
import numpy as np

log = pm4py.read_xes('../Data/event_logs/BPI_Challenge_2012.xes')

parsing log, completed traces :: 100%|██████████| 13087/13087 [00:21<00:00, 615.70it/s]

In [1]:
from Data import BPI2012Dataset

/Users/jrhs/.pyenv/versions/dl/lib/python3.9/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:

pd.Series([1,2,3])

NameError: name 'pd' is not defined

In [3]:
import pandas as pd

In [4]:
a :list(pd.Series)

TypeError: 'type' object is not iterable

In [ ]:
BIP.

In [3]:
log[0]

{'attributes': {'REG_DATE': datetime.datetime(2011, 10, 1, 0, 38, 44, 546000, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 'concept:name': '173688', 'AMOUNT_REQ': '20000'}, 'events': [{'org:resource': '112', 'lifecycle:transition': 'COMPLETE', 'concept:name': 'A_SUBMITTED', 'time:timestamp': datetime.datetime(2011, 10, 1, 0, 38, 44, 546000, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200)))}, '..', {'org:resource': '10629', 'lifecycle:transition': 'COMPLETE', 'concept:name': 'W_Valideren aanvraag', 'time:timestamp': datetime.datetime(2011, 10, 13, 10, 37, 37, 26000, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200)))}]}

In [87]:
flattern_log = ([{**event, 
                    'caseid': trace.attributes['concept:name']} 
                   for trace in log for event in trace])
df  = pd.DataFrame(flattern_log)

In [14]:
df.describe()

,org:resource,lifecycle:transition,concept:name,time:timestamp,caseid
count,244190,262200,262200,262200,262200
unique,68,3,24,248189,13087
top,112,COMPLETE,W_Completeren aanvraag,2011-11-16 12:54:02.245000+01:00,185548
freq,45687,164506,54850,4,175

In [88]:
df[df["caseid"] == "173688"].sort_values("time:timestamp")
df["name_and_transition"] =  df ["concept:name"] + "_" + df["lifecycle:transition:"]

In [16]:
df.describe()

,org:resource,lifecycle:transition,concept:name,time:timestamp,caseid,name_and_transition
count,244190,262200,262200,262200,262200,262200
unique,68,3,24,248189,13087,36
top,112,COMPLETE,W_Completeren aanvraag,2011-11-16 12:54:02.245000+01:00,185548,W_Completeren aanvraag_COMPLETE
freq,45687,164506,54850,4,175,23967

In [17]:
df.head(5)

,org:resource,lifecycle:transition,concept:name,time:timestamp,caseid,name_and_transition
0,112,COMPLETE,A_SUBMITTED,2011-10-01 00:38:44.546000+02:00,173688,A_SUBMITTED_COMPLETE
1,112,COMPLETE,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880000+02:00,173688,A_PARTLYSUBMITTED_COMPLETE
2,112,COMPLETE,A_PREACCEPTED,2011-10-01 00:39:37.906000+02:00,173688,A_PREACCEPTED_COMPLETE
3,112,SCHEDULE,W_Completeren aanvraag,2011-10-01 00:39:38.875000+02:00,173688,W_Completeren aanvraag_SCHEDULE
4,NaN,START,W_Completeren aanvraag,2011-10-01 11:36:46.437000+02:00,173688,W_Completeren aanvraag_START

In [27]:
for caseid, group in df.groupby(by="caseid"):
    print("case id: {}".format(caseid))
    c = caseid
    g = group
    raise InterruptedError

case id: 173688

InterruptedError:

In [30]:
newData = [{
"caseid":c,
"seq": list(g.sort_values(by= "time:timestamp").name_and_transition)
}
]

In [32]:
newDf =pd.DataFrame(newData)

In [38]:
newDf.iloc[0]["seq"][0]

'A_SUBMITTED_COMPLETE'

In [39]:
for d in newDf.:
    print(d)

caseid
seq

In [89]:
df['name_and_transition'].astype('category')

0                    A_SUBMITTED_COMPLETE
1              A_PARTLYSUBMITTED_COMPLETE
2                  A_PREACCEPTED_COMPLETE
3         W_Completeren aanvraag_SCHEDULE
4            W_Completeren aanvraag_START
                       ...
262195         A_PARTLYSUBMITTED_COMPLETE
262196        W_Afhandelen leads_SCHEDULE
262197           W_Afhandelen leads_START
262198                A_DECLINED_COMPLETE
262199        W_Afhandelen leads_COMPLETE
Name: name_and_transition, Length: 262200, dtype: category
Categories (36, object): ['A_ACCEPTED_COMPLETE', 'A_ACTIVATED_COMPLETE', 'A_APPROVED_COMPLETE', 'A_CANCELLED_COMPLETE', ..., 'W_Valideren aanvraag_COMPLETE', 'W_Valideren aanvraag_SCHEDULE', 'W_Valideren aanvraag_START', 'W_Wijzigen contractgegevens_SCHEDULE']

In [66]:
df['time:timestamp'] - timedelta(microseconds=1)

0         2011-10-01 00:38:44.545999+02:00
1         2011-10-01 00:38:44.879999+02:00
2         2011-10-01 00:39:37.905999+02:00
3         2011-10-01 00:39:38.874999+02:00
4         2011-10-01 11:36:46.436999+02:00
                        ...
262195    2012-02-29 23:51:17.422999+01:00
262196    2012-02-29 23:52:01.286999+01:00
262197    2012-03-01 09:26:46.735999+01:00
262198    2012-03-01 09:27:37.117999+01:00
262199    2012-03-01 09:27:41.324999+01:00
Name: time:timestamp, Length: 262200, dtype: object

In [63]:
df.head(5)

,org:resource,lifecycle:transition,concept:name,time:timestamp,caseid,name_and_transition
0,112,COMPLETE,A_SUBMITTED,2011-10-01 00:38:44.546000+02:00,173688,A_SUBMITTED_COMPLETE
1,112,COMPLETE,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880000+02:00,173688,A_PARTLYSUBMITTED_COMPLETE
2,112,COMPLETE,A_PREACCEPTED,2011-10-01 00:39:37.906000+02:00,173688,A_PREACCEPTED_COMPLETE
3,112,SCHEDULE,W_Completeren aanvraag,2011-10-01 00:39:38.875000+02:00,173688,W_Completeren aanvraag_SCHEDULE
4,NaN,START,W_Completeren aanvraag,2011-10-01 11:36:46.437000+02:00,173688,W_Completeren aanvraag_START

In [61]:
# Add start and end

def add_start_and_end_tag(df):
    end_start_times = dict()
    for case, group in pd.DataFrame(df).groupby('caseid'):
        end_start_times[(case, 'Start')] = (
            group.start_timestamp.min()-timedelta(microseconds=1))
        end_start_times[(case, 'End')] = (
            group.end_timestamp.max()+timedelta(microseconds=1))
    new_data = list()
    data = sorted(df, key=lambda x: x['caseid'])
    for key, group in it.groupby(data, key=lambda x: x['caseid']):
        trace = list(group)
        for new_event in ['Start', 'End']:
            idx = 0 if new_event == 'Start' else -1
            temp_event = dict()
            temp_event['caseid'] = trace[idx]['caseid']
            temp_event['task'] = new_event
            temp_event['user'] = new_event
            temp_event['end_timestamp'] = end_start_times[(key, new_event)]
            if not self.one_timestamp:
                temp_event['start_timestamp'] = end_start_times[(key, new_event)]
            if new_event == 'Start':
                trace.insert(0, temp_event)
            else:
                trace.append(temp_event)
        new_data.extend(trace)
    return new_data

In [100]:
## We can drop other columns before this.
df = df[['time:timestamp', 'name_and_transition']]
## create another df will be faster? A: yes
newData = list()
for case, group in df.groupby('caseid'):
    group.sort_values("time:timestamp", ascending= True, inplace=True)
    strating_time =  group.iloc[0]["time:timestamp"]- timedelta(microseconds=1)
    ending_time = group.iloc[-1]["time:timestamp"]+ timedelta(microseconds=1)
    traces = group.to_dict('record')
    traces.insert(0, {"caseid": case, "time:timestamp": strating_time, "name_and_transition": "<START>"})
    traces.append({"caseid": case, "time:timestamp": ending_time, "name_and_transition": "<END>"})
    newData.extend(traces)

In [101]:
newDf = pd.DataFrame(newData)

In [102]:
newDf.head(5)

,caseid,time:timestamp,name_and_transition,org:resource,lifecycle:transition,concept:name
0,173688,2011-10-01 00:38:44.545998+02:00,<START>,NaN,NaN,NaN
1,173688,2011-10-01 00:38:44.545999+02:00,<START>,NaN,NaN,NaN
2,173688,2011-10-01 00:38:44.546000+02:00,A_SUBMITTED_COMPLETE,112,COMPLETE,A_SUBMITTED
3,173688,2011-10-01 00:38:44.880000+02:00,A_PARTLYSUBMITTED_COMPLETE,112,COMPLETE,A_PARTLYSUBMITTED
4,173688,2011-10-01 00:39:37.906000+02:00,A_PREACCEPTED_COMPLETE,112,COMPLETE,A_PREACCEPTED

In [104]:
newDf.dtypes

caseid                  object
time:timestamp          object
name_and_transition     object
org:resource            object
lifecycle:transition    object
concept:name            object
dtype: object

In [147]:
newDf.head(5)

,caseid,time:timestamp,name_and_transition,org:resource,lifecycle:transition,concept:name,indexed_cat
0,173688,2011-10-01 00:38:44.545998+02:00,<START>,NaN,NaN,NaN,2
1,173688,2011-10-01 00:38:44.545999+02:00,<START>,NaN,NaN,NaN,2
2,173688,2011-10-01 00:38:44.546000+02:00,A_SUBMITTED_COMPLETE,112,COMPLETE,A_SUBMITTED,12
3,173688,2011-10-01 00:38:44.880000+02:00,A_PARTLYSUBMITTED_COMPLETE,112,COMPLETE,A_PARTLYSUBMITTED,9
4,173688,2011-10-01 00:39:37.906000+02:00,A_PREACCEPTED_COMPLETE,112,COMPLETE,A_PREACCEPTED,10

In [86]:
df[df['name_and_transition'] == '<START>']

,org:resource,lifecycle:transition,concept:name,time:timestamp,caseid,name_and_transition
262200,NaN,NaN,NaN,2011-10-01 00:38:44.545999+02:00,NaN,<START>
262202,NaN,NaN,NaN,2011-10-01 00:38:44.545999+02:00,173688,<START>

In [105]:
df['name_and_transition'] = df['name_and_transition'].astype('category')

In [112]:
newDf['name_and_transition'] = newDf['name_and_transition'].astype('category')

In [120]:
new_cat_code = [ v+1 for v in list(newDf['name_and_transition'].cat.codes)]

In [143]:
event_bag = {}
for i , cat in enumerate(newDf['name_and_transition'].cat.categories):
    event_bag[cat] = i+1

In [145]:
event_bag['<PAD>'] = 0

In [154]:
newDf['cat'] = newDf['name_and_transition'].apply(lambda c: event_bag[c])

In [161]:
final_df_data = []
for caseid, group in newDf.groupby('caseid'):

    final_df_data.append({
        "trace": list(group['cat']),
        "caseid": caseid
    })

In [162]:
last_df = pd.DataFrame(final_df_data)

In [163]:
last_df.head(5)

                                               trace  caseid
0  [2, 2, 12, 9, 10, 27, 28, 3, 17, 8, 15, 19, 33...  173688
1  [2, 2, 12, 9, 10, 27, 28, 26, 28, 3, 8, 17, 15...  173691
2  [2, 2, 12, 9, 10, 27, 28, 26, 28, 26, 28, 26, ...  173694
3                             [2, 2, 12, 9, 7, 1, 1]  173697
4                             [2, 2, 12, 9, 7, 1, 1]  173700

In [164]:
last_df.describe()

                   trace  caseid
count              13087   13087
unique              4726   13087
top     [2, 12, 9, 7, 1]  173991
freq                2488       1

In [167]:
longest_trace = last_df.trace.map(len).max()

In [ ]:
### how to mask the loss? torch pack pad?

event_bag[  df['name_and_transition'][0]]

In [153]:
df['name_and_transition'][0]

'A_SUBMITTED_COMPLETE'

In [155]:
newDf.head(5)

,caseid,time:timestamp,name_and_transition,org:resource,lifecycle:transition,concept:name,indexed_cat,cat
0,173688,2011-10-01 00:38:44.545998+02:00,<START>,NaN,NaN,NaN,2,2
1,173688,2011-10-01 00:38:44.545999+02:00,<START>,NaN,NaN,NaN,2,2
2,173688,2011-10-01 00:38:44.546000+02:00,A_SUBMITTED_COMPLETE,112,COMPLETE,A_SUBMITTED,12,12
3,173688,2011-10-01 00:38:44.880000+02:00,A_PARTLYSUBMITTED_COMPLETE,112,COMPLETE,A_PARTLYSUBMITTED,9,9
4,173688,2011-10-01 00:39:37.906000+02:00,A_PREACCEPTED_COMPLETE,112,COMPLETE,A_PREACCEPTED,10,10

In [121]:
newDf['indexed_cat'] = new_cat_code

In [122]:
newDf.head(5)

,caseid,time:timestamp,name_and_transition,org:resource,lifecycle:transition,concept:name,indexed_cat
0,173688,2011-10-01 00:38:44.545998+02:00,<START>,NaN,NaN,NaN,2
1,173688,2011-10-01 00:38:44.545999+02:00,<START>,NaN,NaN,NaN,2
2,173688,2011-10-01 00:38:44.546000+02:00,A_SUBMITTED_COMPLETE,112,COMPLETE,A_SUBMITTED,12
3,173688,2011-10-01 00:38:44.880000+02:00,A_PARTLYSUBMITTED_COMPLETE,112,COMPLETE,A_PARTLYSUBMITTED,9
4,173688,2011-10-01 00:39:37.906000+02:00,A_PREACCEPTED_COMPLETE,112,COMPLETE,A_PREACCEPTED,10

In [124]:
from sklearn.preprocessing import OrdinalEncoder

In [ ]:
encoder = OrdinalEncoder()

In [49]:
from sklearn.preprocessing import OrdinalEncoder

In [128]:
ord_enc = OrdinalEncoder()

In [129]:
ord_enc.fit( np.array(list(newDf['name_and_transition'])).reshape(-1, 1))

OrdinalEncoder()

In [135]:
ord_enc.inverse_transform([[0]])

array([['<END>']], dtype='<U39')

In [11]:
a = [{
    "A": 1,
    "B":2
}]

In [5]:
for k, v in a.items():
    print("{}: {} ".format(k,v))

A: 1
B: 2

In [6]:
len(a)

2

In [8]:
import pandas as pd

/Users/jrhs/.pyenv/versions/dl/lib/python3.9/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [12]:
d = pd.DataFrame(a)

In [ ]:
d

In [5]:
len(d)

NameError: name 'd' is not defined

In [10]:
List(int)

NameError: name 'List' is not defined

In [13]:
type()

pandas.core.series.Series

In [14]:
type([d.iloc[0], d.iloc[0]])

list

In [16]:
type(list())

list

In [18]:
type(list[pd.Series])

types.GenericAlias

In [15]:
l= [1,2,3,4,5]

In [17]:
l[:-1]

[1, 2, 3, 4]

In [ ]:
[[1,2,3,4,5],[2,3,1]]

In [90]:
data

[caseid                          25
 trace     [1, 2, 3, 4, 5, 6, 7, 8]
 tracde                         NaN
 Name: 0, dtype: object,
 caseid           79
 trace     [5, 9, 3]
 tracde          NaN
 Name: 1, dtype: object,
 caseid                                                 2313
 trace                                                   NaN
 tracde    [12, 321313, 1, 313, 123, 123, 12, 31, 31, 312...
 Name: 2, dtype: object]

In [86]:
[i for i in range(3)]

[0, 1, 2]

In [42]:
for v in zip(*[(d["caseid"], d["trace"]) for d in data]):
    print(v)

('25', '79')
([1, 2, 3, 4, 5, 6, 7, 8], [5, 9, 3])

In [117]:

data_dict = [{"caseid": "25", "trace": [1,2,3,4,5,6,7,8]}, {"caseid":"79", "trace": [8, 5,2]}, {"caseid": "2313", "trace": [1,3,5,2,5,6,7,1,2,3]}]

df = pd.DataFrame(data_dict)
data = [df.iloc[idx] for idx in range(len(df))]
caseid_list, seq_list =zip(*[(d["caseid"], torch.tensor(d["trace"])) for d in data])
caseid_list = list(caseid_list)
seq_list =list(seq_list)

In [141]:
from typing import Tuple
from pandas.core.frame import DataFrame
import torch
import pandas as pd
from torch.utils.data import Dataset, DataLoader
import pm4py
from datetime import timedelta
import numpy as np
from torch.nn.utils.rnn import pad_sequence, pack_padded_sequence, pack_sequence, pad_packed_sequence
import torch.nn.functional as F


class BPI2012Dataset(Dataset):
    def __init__(self, filePath: str) -> None:
        super().__init__()
        self.__initialise_data(filePath=filePath)
        self.df: pd.DataFrame
        self.__event_dict: dict(str, int)

    def __initialise_data(self, filePath: str) -> None:
        log = pm4py.read_xes(filePath)
        flattern_log: list(dict(str, any)) = ([{**event,
                                                'caseid': trace.attributes['concept:name']}
                                               for trace in log for event in trace])
        df = pd.DataFrame(flattern_log)
        df["name_and_transition"] = df["concept:name"] + \
            "_" + df["lifecycle:transition:"]
        df = df[['time:timestamp', 'name_and_transition']]
        newData = list()
        for case, group in df.groupby('caseid'):
            group.sort_values("time:timestamp", ascending=True, inplace=True)
            strating_time = group.iloc[0]["time:timestamp"] - \
                timedelta(microseconds=1)
            ending_time = group.iloc[-1]["time:timestamp"] + \
                timedelta(microseconds=1)
            traces = group.to_dict('record')
            traces.insert(
                0, {"caseid": case, "time:timestamp": strating_time, "name_and_transition": "<START>"})
            traces.append(
                {"caseid": case, "time:timestamp": ending_time, "name_and_transition": "<END>"})
            newData.extend(traces)

        df = pd.DataFrame(newData)
        df['name_and_transition'] = df['name_and_transition'].astype(
            'category')

        event_dict = dict(str, int)
        for i, cat in enumerate(df['name_and_transition'].cat.categories):
            # plus one, since we want to remain "0" for "<PAD>"
            event_dict[cat] = i+1
        event_dict["<PAD>"] = 0

        # Create new index categorial column
        df['cat'] = df['name_and_transition'].apply(lambda c: event_dict[c])

        # Create the df only consist of trace and caseid
        final_df_data = list(dict(str, any))
        for caseid, group in df.groupby('caseid'):
            final_df_data.append({
                "trace": list(group['cat']),
                "caseid": caseid
            })

        self.df: pd.DataFrame = pd.DataFrame(final_df_data)
        self.__event_dict: dict(str, int) = event_dict

    def longest_trace_len(self) -> int:
        return self.df.trace.map(len).max()

    def index_to_vocab(self, index: int) -> str:
        for k, v in self.__event_dict.items():
            if (v == index):
                return k
            continue

    def vocab_to_index(self, event: str) -> int:
        return self.__event_dict[event]

    def vocab_size(self) -> int:
        # This include tokens
        # minus 3 to remove <START>, <END> and <PAD>
        return len(self.__event_dict)

    def __len__(self) -> int:
        return len(self.df)

    def __getitem__(self, index: int) -> pd.Series:
        return self.df.iloc[index]

    def collate_fn(self, data: list(pd.Series)) -> Tuple(np.ndarray, torch.Tensor, torch.Tensor, np.ndarray):
        caseid_list, seq_list = zip(
            *[(d["caseid"], torch.tensor(d["trace"])) for d in data])
        caseid_list = list(caseid_list)
        seq_list = list(seq_list)

        se_lens = np.array([len(s)for s in seq_list])
        sorted_len_index = np.flip(np.argsort(se_lens))
        sorted_seq_lens = se_lens[sorted_len_index]
        sorted_seq_list = [seq_list[idx] for idx in sorted_len_index]
        sorted_case_id = np.array(caseid_list)[sorted_len_index]
        seq_tensor = pad_sequence(sorted_seq_list, batch_first=True)
        train_seq = F.one_hot(
            seq_tensor[:, :-1], num_classes=self.vocab_size)
        target_seq = F.one_hot(
            seq_tensor[:, 1:], num_classes=self.vocab_size)

        return sorted_case_id, train_seq, target_seq, sorted_seq_lens

TypeError: 'type' object is not iterable

In [113]:
seq_list

[array([1, 2, 3, 4, 5, 6, 7, 8]),
 array([8, 5, 2]),
 array([1, 3, 5, 2, 5, 6, 7, 1, 2, 3])]

ValueError: only one element tensors can be converted to Python scalars

In [122]:
se_lens = np.array([  len(s)for s in seq_list ])
sorted_len_index  = np.flip(np.argsort(se_lens))
sorted_seq_list =  [seq_list[idx] for idx in sorted_len_index]
sorted_case_id = np.array(caseid_list)[sorted_len_index]

In [133]:
sorted_seq_lens = se_lens[sorted_len_index]

In [134]:
sorted_seq_lens

array([10,  8,  3])

In [123]:
from torch.nn.utils.rnn import pad_sequence,pack_padded_sequence,pack_sequence,pad_packed_sequence

In [111]:
np.array([1,2]).size

2

1

In [124]:
seq_tensor = pad_sequence(sorted_seq_list, batch_first= True )

In [131]:
train_seq = seq_tensor[:, :-1]
target_seq = seq_tensor[:, 1:]

In [138]:
type(sorted_seq_lens)

numpy.ndarray

In [139]:
import torch.nn.functional as F

In [140]:
F.one_hot(train_seq, num_classes= 9)

tensor([[[0, 1, 0, 0, 0, 0, 0, 0, 0],
         [0, 0, 0, 1, 0, 0, 0, 0, 0],
         [0, 0, 0, 0, 0, 1, 0, 0, 0],
         [0, 0, 1, 0, 0, 0, 0, 0, 0],
         [0, 0, 0, 0, 0, 1, 0, 0, 0],
         [0, 0, 0, 0, 0, 0, 1, 0, 0],
         [0, 0, 0, 0, 0, 0, 0, 1, 0],
         [0, 1, 0, 0, 0, 0, 0, 0, 0],
         [0, 0, 1, 0, 0, 0, 0, 0, 0]],

        [[0, 1, 0, 0, 0, 0, 0, 0, 0],
         [0, 0, 1, 0, 0, 0, 0, 0, 0],
         [0, 0, 0, 1, 0, 0, 0, 0, 0],
         [0, 0, 0, 0, 1, 0, 0, 0, 0],
         [0, 0, 0, 0, 0, 1, 0, 0, 0],
         [0, 0, 0, 0, 0, 0, 1, 0, 0],
         [0, 0, 0, 0, 0, 0, 0, 1, 0],
         [0, 0, 0, 0, 0, 0, 0, 0, 1],
         [1, 0, 0, 0, 0, 0, 0, 0, 0]],

        [[0, 0, 0, 0, 0, 0, 0, 0, 1],
         [0, 0, 0, 0, 0, 1, 0, 0, 0],
         [0, 0, 1, 0, 0, 0, 0, 0, 0],
         [1, 0, 0, 0, 0, 0, 0, 0, 0],
         [1, 0, 0, 0, 0, 0, 0, 0, 0],
         [1, 0, 0, 0, 0, 0, 0, 0, 0],
         [1, 0, 0, 0, 0, 0, 0, 0, 0],
         [1, 0, 0, 0, 0, 0, 0, 0, 0],
         [1, 0, 0, 0, 0, 0, 0, 0, 0]]])

tensor([[1, 3, 5, 2, 5, 6, 7, 1, 2],
        [1, 2, 3, 4, 5, 6, 7, 8, 0],
        [8, 5, 2, 0, 0, 0, 0, 0, 0]])

In [ ]:
torch.tenspr

In [62]:
import numpy as np

<ipython-input-84-ffd563812ae2>:3: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  sorted_seq_list =  np.array(seq_list)[sorted_len_index]

In [85]:
sorted_seq_list

array([list([1, 2, 3, 4, 5, 6, 7, 8]), list([5, 9, 3])], dtype=object)

In [82]:
se_lens

array([8, 3])

array([0, 1])

In [66]:
import torch

ValueError: expected sequence of length 8 at dim 1 (got 3)

[[5, 9, 3], [1, 2, 3, 4, 5, 6, 7, 8]]

In [49]:
res =map(None,*[(d["caseid"], d["trace"]) for d in data])

In [50]:
res

In [ ]:
ca

In [26]:
import pandas as pd

In [65]:
type(log)

pm4py.objects.log.obj.EventLog

## Get default parameters needed for loading data.

In [2]:
parameters ={}

column_names = {'Case ID': 'caseid',
                    'Activity': 'task',
                    'lifecycle:transition': 'event_type',
                    'Resource': 'user'}
    
parameters['one_timestamp'] = False  # Only one timestamp in the log
parameters['read_options'] = {
    'timeformat': '%Y-%m-%dT%H:%M:%S.%f',
    'column_names': column_names,
    'one_timestamp': parameters['one_timestamp']}

parameters['model_family'] = 'gru_cx'
parameters['opt_method'] = 'rand_hpc' # 'rand_hpc', 'bayesian'
parameters['max_eval'] = 1

In [3]:
def reorder_xes(temp_data):
    """
    this method match the duplicated events on the .xes log
    """
    temp_data = pd.DataFrame(temp_data)
    ordered_event_log = list()
    if parameters['one_timestamp']:
        column_names['Complete Timestamp'] = 'end_timestamp'
        temp_data = temp_data[temp_data.event_type == 'complete']
        ordered_event_log = temp_data.rename(
            columns={'timestamp': 'end_timestamp'})
        ordered_event_log = ordered_event_log.drop(columns='event_type')
        ordered_event_log = ordered_event_log.to_dict('records')
    else:
        column_names['Start Timestamp'] = 'start_timestamp'
        column_names['Complete Timestamp'] = 'end_timestamp'
        for caseid, group in  temp_data.groupby(by=['caseid']):
            trace = group.to_dict('records')
            temp_trace = list()
            for i in range(0, len(trace)-1):
                incomplete = False
                if trace[i]['event_type'] == 'start':
                    c_task_name = trace[i]['task']
                    remaining = trace[i+1:]
                    complete_event = next((event for event in remaining if (event['task'] == c_task_name and event['event_type'] == 'complete')), None)
                    if complete_event:
                        temp_trace.append(
                            {'caseid': caseid,
                              'task': trace[i]['task'],
                              'user': trace[i]['user'],
                              'start_timestamp': trace[i]['timestamp'],
                              'end_timestamp': complete_event['timestamp']})
                    else:
                        incomplete = True
                        break
            if not incomplete:
                ordered_event_log.extend(temp_trace)
    return ordered_event_log

In [4]:
def append_csv_start_end(data):
    '''
    The paper use this function to add start and end tasks to every trace.
    '''
    end_start_times = dict()
    for case, group in pd.DataFrame(data).groupby('caseid'):
        end_start_times[(case, 'Start')] = (
            group.start_timestamp.min()-timedelta(microseconds=1))
        end_start_times[(case, 'End')] = (
            group.end_timestamp.max()+timedelta(microseconds=1))
    new_data = list()
    data = sorted(data, key=lambda x: x['caseid'])
    for key, group in it.groupby(data, key=lambda x: x['caseid']):
        trace = list(group)
        for new_event in ['Start', 'End']:
            idx = 0 if new_event == 'Start' else -1
            temp_event = dict()
            temp_event['caseid'] = trace[idx]['caseid']
            temp_event['task'] = new_event
            temp_event['user'] = new_event
            temp_event['end_timestamp'] = end_start_times[(key, new_event)]
            if not parameters['one_timestamp']:
                temp_event['start_timestamp'] = end_start_times[(key, new_event)]
            if new_event == 'Start':
                trace.insert(0, temp_event)
            else:
                trace.append(temp_event)
        new_data.extend(trace)
    return new_data

In [5]:
try:
    source = log.attributes['source']
except:
    source = ''
    
print(source)

In [6]:
# Flat the event with caseid
flattern_log = ([{**event, 
                    'caseid': trace.attributes['concept:name']} 
                   for trace in log for event in trace])

JSON(flattern_log[:3])

In [7]:
## Construct log to dataframe.
temp_data = pd.DataFrame(flattern_log)

print(len(temp_data))
display(temp_data.head(5))

262200

,org:resource,lifecycle:transition,concept:name,time:timestamp,caseid
0,112,COMPLETE,A_SUBMITTED,2011-10-01 00:38:44.546000+02:00,173688
1,112,COMPLETE,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880000+02:00,173688
2,112,COMPLETE,A_PREACCEPTED,2011-10-01 00:39:37.906000+02:00,173688
3,112,SCHEDULE,W_Completeren aanvraag,2011-10-01 00:39:38.875000+02:00,173688
4,NaN,START,W_Completeren aanvraag,2011-10-01 11:36:46.437000+02:00,173688

In [8]:
# formate time
temp_data['time:timestamp'] = temp_data.apply(
    lambda x: x['time:timestamp'].strftime(parameters["read_options"]["timeformat"]), axis=1)

temp_data['time:timestamp'] = pd.to_datetime(temp_data['time:timestamp'], 
                                        format=parameters["read_options"]["timeformat"])

print(len(temp_data))
temp_data.head(5)

262200

,org:resource,lifecycle:transition,concept:name,time:timestamp,caseid
0,112,COMPLETE,A_SUBMITTED,2011-10-01 00:38:44.546,173688
1,112,COMPLETE,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880,173688
2,112,COMPLETE,A_PREACCEPTED,2011-10-01 00:39:37.906,173688
3,112,SCHEDULE,W_Completeren aanvraag,2011-10-01 00:39:38.875,173688
4,NaN,START,W_Completeren aanvraag,2011-10-01 11:36:46.437,173688

In [9]:
## Replacde column name if exist
temp_data.rename(columns={
    'concept:name': 'task',
    'lifecycle:transition': 'event_type',
    'org:resource': 'user',
    'time:timestamp': 'timestamp'}, inplace=True)

print(len(temp_data))
temp_data.head(5)

262200

  user event_type                    task               timestamp  caseid
0  112   COMPLETE             A_SUBMITTED 2011-10-01 00:38:44.546  173688
1  112   COMPLETE       A_PARTLYSUBMITTED 2011-10-01 00:38:44.880  173688
2  112   COMPLETE           A_PREACCEPTED 2011-10-01 00:39:37.906  173688
3  112   SCHEDULE  W_Completeren aanvraag 2011-10-01 00:39:38.875  173688
4  NaN      START  W_Completeren aanvraag 2011-10-01 11:36:46.437  173688

In [10]:
cond = ~temp_data.task.apply(lambda v: v.lower() in ['start', 'end'])
print('Keeping rate: ' + str(cond.sum()/len(cond)))

temp_data = (temp_data[cond].reset_index(drop=True))

print(len(temp_data))
temp_data.head(5)

Keeping rate: 1.0
262200

  user event_type                    task               timestamp  caseid
0  112   COMPLETE             A_SUBMITTED 2011-10-01 00:38:44.546  173688
1  112   COMPLETE       A_PARTLYSUBMITTED 2011-10-01 00:38:44.880  173688
2  112   COMPLETE           A_PREACCEPTED 2011-10-01 00:39:37.906  173688
3  112   SCHEDULE  W_Completeren aanvraag 2011-10-01 00:39:38.875  173688
4  NaN      START  W_Completeren aanvraag 2011-10-01 11:36:46.437  173688

In [11]:
# lower event_type
temp_data.event_type = temp_data.event_type.str.lower()
temp_data.head(5)

  user event_type                    task               timestamp  caseid
0  112   complete             A_SUBMITTED 2011-10-01 00:38:44.546  173688
1  112   complete       A_PARTLYSUBMITTED 2011-10-01 00:38:44.880  173688
2  112   complete           A_PREACCEPTED 2011-10-01 00:39:37.906  173688
3  112   schedule  W_Completeren aanvraag 2011-10-01 00:39:38.875  173688
4  NaN      start  W_Completeren aanvraag 2011-10-01 11:36:46.437  173688

In [12]:
temp_data['event_type'].str.lower()

cond = temp_data.event_type.isin(['start','complete'])
print('Keeping rate: ' + str(cond.sum()/len(cond)))
temp_data = temp_data[cond].reset_index(drop=True)

print(len(temp_data))
temp_data.head(5)

Keeping rate: 0.8996262395118231
235882

    user event_type                    task               timestamp  caseid
0    112   complete             A_SUBMITTED 2011-10-01 00:38:44.546  173688
1    112   complete       A_PARTLYSUBMITTED 2011-10-01 00:38:44.880  173688
2    112   complete           A_PREACCEPTED 2011-10-01 00:39:37.906  173688
3    NaN      start  W_Completeren aanvraag 2011-10-01 11:36:46.437  173688
4  10862   complete              A_ACCEPTED 2011-10-01 11:42:43.308  173688

In [13]:
if source == 'com.qbpsimulator':
    if len(temp_data.iloc[0].elementId.split('_'))>1: 
        temp_data['etype'] = temp_data.apply(
            lambda x: x.elementId.split('_')[0], axis=1)
        temp_data = (
            temp_data[temp_data.etype=='Task'].reset_index(drop=True))

In [14]:
# trnasform to dict for applying functions on it.
raw_data = temp_data.to_dict('records')

# Show some example
JSON(raw_data[:5])

In [15]:
orderedXes = reorder_xes(temp_data)

In [16]:
print("Event count before appending \"Start & End\": {}".format(len(orderedXes)))
data = append_csv_start_end(orderedXes)
print("Event count After appending \"Start & End\": {}".format(len(data)))

JSON(data[:5])

Event count before appending "Start & End": 71373
Event count After appending "Start & End": 90687

In [17]:
# Get the 
log_df = pd.DataFrame(data)
display(log_df.head(5))


112	SCHEDULE	W_Completeren aanvraag	2011-10-01 00:39:38.875	173688
4	NaN	START	W_Completeren aanvraag	2011-10-01 11:36:46.437	173688

,caseid,task,user,end_timestamp,start_timestamp
0,173688,Start,Start,2011-10-01 11:36:46.436999,2011-10-01 11:36:46.436999
1,173688,W_Completeren aanvraag,NaN,2011-10-01 11:45:13.917000,2011-10-01 11:36:46.437000
2,173688,W_Nabellen offertes,NaN,2011-10-01 12:17:08.924000,2011-10-01 12:15:41.290000
3,173688,W_Nabellen offertes,10913,2011-10-08 16:32:00.886000,2011-10-08 16:26:57.720000
4,173688,W_Nabellen offertes,11049,2011-10-10 11:33:05.791000,2011-10-10 11:32:22.495000

In [18]:
if set(['Unnamed: 0', 'role']).issubset(set(log_df.columns)):
    log_df.drop(columns=['Unnamed: 0', 'role'], inplace=True)
    
# Drop the task with "Start" and "End"
# Q: why dropping the events that we just added to the traces?
# A: Since the implementation is from different authors, this part can be deleted
originalLength = len(log_df)    
log_df = log_df[~log_df.task.isin(['Start', 'End'])]
lenAfterRemoving = len(log_df)

print("Keeping rate: {}, original length: {}, length after removing: {}".format(lenAfterRemoving/ originalLength, originalLength, lenAfterRemoving))

Keeping rate: 0.7870257037943696, original length: 90687, length after removing: 71373

In [19]:
log_df.head(5)

,caseid,task,user,end_timestamp,start_timestamp
1,173688,W_Completeren aanvraag,NaN,2011-10-01 11:45:13.917,2011-10-01 11:36:46.437
2,173688,W_Nabellen offertes,NaN,2011-10-01 12:17:08.924,2011-10-01 12:15:41.290
3,173688,W_Nabellen offertes,10913,2011-10-08 16:32:00.886,2011-10-08 16:26:57.720
4,173688,W_Nabellen offertes,11049,2011-10-10 11:33:05.791,2011-10-10 11:32:22.495
5,173688,W_Valideren aanvraag,10629,2011-10-13 10:37:37.026,2011-10-13 10:05:26.925

In [20]:
def create_index(log_df, column):
    """Creates an idx for a categorical attribute.
    parms:
        log_df: dataframe.
        column: column name.
    Returns:
        index of a categorical attribute pairs.
    """
    temp_list = log_df[[column]].values.tolist()
    subsec_set = {(x[0]) for x in temp_list}
    subsec_set = sorted(list(subsec_set))
    alias = dict()
    for i, _ in enumerate(subsec_set):
        alias[subsec_set[i]] = i + 1
    return alias

In [21]:
def indexing(log):
    # Activities index creation
    ac_index = create_index(log, 'task')
    ac_index['start'] = 0
    ac_index['end'] = len(ac_index)
    index_ac = {v: k for k, v in ac_index.items()}
    # Roles index creation
#     rl_index = create_index(log, 'role')
#     rl_index['start'] = 0
#     rl_index['end'] = len(rl_index)
#     index_rl = {v: k for k, v in rl_index.items()}
    # Add index to the event log
    ac_idx = lambda x: ac_index[x['task']]
    log['ac_index'] = log.apply(ac_idx, axis=1)
#     rl_idx = lambda x: rl_index[x['role']]
#     log['rl_index'] = log.apply(rl_idx, axis=1)
    return log

In [22]:
log_df = indexing(log_df)

In [23]:
log_df.head(5)

,caseid,task,user,end_timestamp,start_timestamp,ac_index
1,173688,W_Completeren aanvraag,NaN,2011-10-01 11:45:13.917,2011-10-01 11:36:46.437,3
2,173688,W_Nabellen offertes,NaN,2011-10-01 12:17:08.924,2011-10-01 12:15:41.290,5
3,173688,W_Nabellen offertes,10913,2011-10-08 16:32:00.886,2011-10-08 16:26:57.720,5
4,173688,W_Nabellen offertes,11049,2011-10-10 11:33:05.791,2011-10-10 11:32:22.495,5
5,173688,W_Valideren aanvraag,10629,2011-10-13 10:37:37.026,2011-10-13 10:05:26.925,6

In [54]:
import copy
from operator import itemgetter

def _sort_log(log):
    log = copy.deepcopy(log)
    log = sorted(log.to_dict('records'), key=lambda x: x['caseid'])
    for key, group in it.groupby(log, key=lambda x: x['caseid']):
        events = list(group)
        events = sorted(events, key=itemgetter('end_timestamp'))
        length = len(events)
        for i in range(0, len(events)):
            events[i]['pos_trace'] = i + 1
            events[i]['trace_len'] = length
    log = pd.DataFrame.from_dict(log)
    log.sort_values(by='end_timestamp', ascending=False, inplace=True)
    return log

In [55]:
def timeline_contained(log: pd.DataFrame, size: float, one_timestamp: bool) -> None:
    # log = self.log.data.to_dict('records')
    num_events = int(np.round(len(log)*(1 - size)))

    df_train = log.iloc[num_events:]
    df_test = log.iloc[:num_events]

    # Incomplete final traces
    df_train = df_train.sort_values(by=['caseid'],
                                    ascending=True)
    inc_traces = pd.DataFrame(df_train.groupby('caseid')
                              .last()
                              .reset_index())

    inc_traces = inc_traces[inc_traces.pos_trace != inc_traces.trace_len]
    inc_traces = inc_traces['caseid'].to_list()

    print("Imcomplete rate: {}".format(len(inc_traces)/ len(df_train)))

    # Drop incomplete traces
    df_test = df_test[~df_test.caseid.isin(inc_traces)]
    df_test = df_test.drop(columns=['trace_len', 'pos_trace'],errors='ignore')
    df_train = df_train[~df_train.caseid.isin(inc_traces)]

    print("train set size after dropping: {}".format(len(df_train)))

    df_train = df_train.drop(columns=['trace_len', 'pos_trace'],errors='ignore')
    key = 'end_timestamp' if one_timestamp else 'start_timestamp'
    df_test = (df_test
               .sort_values(key, ascending=True)
               .reset_index(drop=True).to_dict('records'))
    df_train = (df_train
                .sort_values(key, ascending=True)
                .reset_index(drop=True).to_dict('records'))
    return df_train, df_test

def timeline_trace(log: pd.DataFrame, size: float, one_timestamp: bool) -> None:
    # log = self.log.data.to_dict('records')
#     cases = log[log.pos_trace == 1]
    cases = log
    key = 'end_timestamp' if one_timestamp else 'start_timestamp'
    cases = cases.sort_values(key, ascending=False)
    cases = cases.caseid.to_list()
    num_test_cases = int(np.round(len(cases)*(1 - size)))
    test_cases = cases[:num_test_cases]
    train_cases = cases[num_test_cases:]
    df_train = log[log.caseid.isin(train_cases)]
    df_test = log[log.caseid.isin(test_cases)]
    df_train = df_train.drop(columns=['trace_len', 'pos_trace'],errors='ignore')
    df_test = df_test.drop(columns=['trace_len', 'pos_trace'],errors='ignore')
    return df_train, df_test

def random(log: pd.DataFrame, size: float, one_timestamp: bool) -> None:
    cases = list(log.caseid.unique())
    sample_sz = int(np.ceil(len(cases)*size))
    scases = random.sample(cases, sample_sz)
    df_train = log[log.caseid.isin(scases)]
    df_test = log[~log.caseid.isin(scases)]
    return df_train, df_test

In [56]:
def _get_splitter(method):
        if method == 'timeline_contained':
            return timeline_contained
        elif method == 'timeline_trace':
            return timeline_trace
        elif method == 'random':
            return random
        else:
            raise ValueError(method)

In [57]:
def split_log(log: pd.DataFrame, method: str, size: float, one_timestamp: bool):
    splitter = _get_splitter(method)
    return splitter(log, size, one_timestamp)

In [58]:
def split_timeline(size: float, one_ts: bool, log: pd.DataFrame) -> (pd.DataFrame, pd.DataFrame) :
        """
        Split an event log dataframe by time to peform split-validation.
        prefered method time splitting removing incomplete traces.
        If the testing set is smaller than the 10% of the log size
        the second method is sort by traces start and split taking the whole
        traces no matter if they are contained in the timeframe or not

        Parameters
        ----------
        size : float, validation percentage.
        one_ts : bool, Support only one timestamp.
        """
        # Split log data
        sortedLog = _sort_log(log)
        print("sorted log size {}".format(len(sortedLog)))
        # display(sortedLog.head(5))
        print("soted log end -----")

        ## problem is here
        train, test = split_log(sortedLog,'timeline_contained', size, one_ts)
        print("1. train set size: {}".format(len(train)))
        total_events = len(sortedLog)
        # Check size and change time splitting method if necesary
        if len(test) < int(total_events*0.1):
            train, test = split_log(sortedLog, 'timeline_trace', size, one_ts)
        # Set splits
        key = 'end_timestamp' if one_ts else 'start_timestamp'
        test = pd.DataFrame(test)
        train = pd.DataFrame(train)
        print(train)
        print('training set')
        # display(train.head(5))
        
#         print("display set")
#         display(test.head(5))
        
        log_test = (test.sort_values(key, ascending=True)
                         .reset_index(drop=True))
        log_train = (train.sort_values(key, ascending=True)
                          .reset_index(drop=True))
        return log_train, log_test

In [60]:
log_train, log_test = split_timeline(0.8, parameters['one_timestamp'], log_df)

sorted log size 71373
soted log end -----
Imcomplete rate: 0.09129916984833095
train set size after dropping: 7971
1. train set size: 7971
      caseid                    task   user           end_timestamp  \
0     173706      W_Afhandelen leads  10912 2011-10-01 10:16:49.843
1     173688  W_Completeren aanvraag    NaN 2011-10-01 11:45:13.917
2     173691  W_Completeren aanvraag    NaN 2011-10-01 11:43:13.178
3     173706  W_Completeren aanvraag  10912 2011-10-01 11:50:14.483
4     173706  W_Completeren aanvraag  10912 2011-10-01 11:53:55.769
...      ...                     ...    ...                     ...
7966  208133      W_Afhandelen leads  10629 2012-02-10 17:05:23.731
7967  208268      W_Afhandelen leads  11201 2012-02-10 20:06:30.178
7968  208208  W_Completeren aanvraag  10913 2012-02-10 20:05:21.713
7969  208256      W_Afhandelen leads    NaN 2012-02-10 20:04:56.142
7970  208271      W_Afhandelen leads    NaN 2012-02-10 20:19:31.576

             start_timestamp  ac_index
0    2011-10-01 10:15:43.883         1
1    2011-10-01 11:36:46.437         3
2    2011-10-01 11:37:32.393         3
3    2011-10-01 11:49:28.183         3
4    2011-10-01 11:50:21.451         3
...                      ...       ...
7966 2012-02-10 17:01:06.079         1
7967 2012-02-10 19:56:45.827         1
7968 2012-02-10 20:00:35.659         3
7969 2012-02-10 20:01:51.162         1
7970 2012-02-10 20:18:25.436         1

[7971 rows x 6 columns]
training set

In [62]:
log_train.head(5)

,caseid,task,user,end_timestamp,start_timestamp,ac_index
0,173706,W_Afhandelen leads,10912,2011-10-01 10:16:49.843,2011-10-01 10:15:43.883,1
1,173688,W_Completeren aanvraag,NaN,2011-10-01 11:45:13.917,2011-10-01 11:36:46.437,3
2,173691,W_Completeren aanvraag,NaN,2011-10-01 11:43:13.178,2011-10-01 11:37:32.393,3
3,173706,W_Completeren aanvraag,10912,2011-10-01 11:50:14.483,2011-10-01 11:49:28.183,3
4,173706,W_Completeren aanvraag,10912,2011-10-01 11:53:55.769,2011-10-01 11:50:21.451,3

In [ ]:
### We need to add resource to apply the same algo

In [ ]:
# split validation